@media (max-width: 600px) {
    body {
        height: auto;
    }

    .container {
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding: 10px;
    }

    h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .display {
        flex-direction: column;
    }

    .out {
        flex-direction: column;
    }

    .front,
    .back {
        width: 100%;
        height: 300px;
        
    }
    .out{
        width: 100%;
    }
    .edit{
        width: 100%;
    }
    img{
        margin-left: 50px;
    }
    #img1{
        margin-left: -1px;
    }
}
